.imageLogo {
    width: 100px;
    margin: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    height: 100vh;
    background-image: url(img/R.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}


nav {
    background-color: #111;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

}


nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #0070c0;
}

h2 {
    color: #0070c0;
    margin-bottom: 20px;
}


p{
    color: rgb(255, 255, 255);
}

ul{
    color: rgb(255, 255, 255);

} 